// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.thumbnail {
    width: 8vw;
    height: 8vw;
    object-fit: cover;
}