// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.thumbnail {
    width: 8vw;
    height: 8vw;
    object-fit: cover;
}

.carousel {
    height: 600px;
    width: 100%;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navbar {
    min-height: 80px;
}