// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.thumbnail {
    width: 8vw;
    height: 8vw;
    object-fit: cover;
}

.card-img-top {
    height: 15vw;
    object-fit: cover;
}

.carousel {
    height: 600px;
    width: 100%;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navbar {
    min-height: 80px;
}

/**
 * Stripe elements styling
 */
.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}